PGHOST=postgres
PGPORT=5432
PGUSER=admin
PGPASSWORD=admin
PGDATABASE=ms_customer_db
PORT=3004
MODE=DEV
RUN_MIGRATIONS=true
DATABASE_HOST= localhost
DATABASE_PORT= 5432
DATABASE_USER= admin
DATABASE_PASSWORD= admin
DATABASE_NAME= ms_customer_db
RABBITMQ_HOST= rabbitmq
RABBITMQ_PORT= 5672
RABBITMQ_USER= admin
RABBITMQ_PASS= admin
RABBITMQ_URL = "amqp://admin:admin@rabbitmq:5672"
JWT_SECRET="clave_secreta"